<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igorm.regimentoopen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tennis_ball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.RankingSingleActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".Player.AddPlayerActivity"
            android:label="@string/title_activity_add_player"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".Player.EditPlayerActivity"
            android:label="@string/title_activity_edit_player"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".Main.MatchSingleActivity"
            android:label="@string/title_activity_match"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Main.DoublesActivity"
            android:label="@string/title_activity_doubles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doubles.AddDoubleActivity"
            android:label="@string/title_activity_add_double"
            android:parentActivityName=".Main.DoublesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.DoublesActivity" />
        </activity>
        <activity
            android:name=".Doubles.EditDoubleActivity"
            android:label="@string/title_activity_edit_double"
            android:parentActivityName=".Main.DoublesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.DoublesActivity" />
        </activity>
        <activity
            android:name=".Main.MatchDoublesActivity"
            android:label="@string/title_activity_match_doubles"
            android:parentActivityName=".Main.DoublesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.DoublesActivity" />
        </activity>
        <activity
            android:name=".Main.RankingDoublesActivity"
            android:label="@string/title_activity_ranking_doubles"
            android:parentActivityName=".Main.DoublesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.DoublesActivity" />
        </activity>
        <activity
            android:name=".Main.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.igorm.regimentoopen.Main.MainActivity" />
        </activity>
    </application>

</manifest>